{% extends 'base.html' %}

{% block content %}

<div class='payment'>
       <h1>Pagamenti Studente</h1>
        <table class='list-tab'>
              <tr><th>ID Customer</th><th>Tipo</th><th>Id Receipt</th><th>Description</th><th>Totale</th>
        {% for payment in payments %}     
            <tr>
                <td><b>{{ payment['customer_id'] }}</td><td>{{ payment['type_card'] }}</td><td>{% for r in payment['receipt'] %} {{r.id}} </td><td>{{r.description}} {% endfor %}</td><td>{{ payment['total'] }}</td>                
            </tr>
        {% endfor %} 
        </table>
</div>

{% endblock %}