{% extends 'base.html' %}

{% block content %}

<div class='payment'>
    <h1>Lista Completa Pagamenti</h1>
    <br>
    <br>
     <table class='list-tab'>
        <tr><th>Id Receipt</th><th>Data</th><th>ID Customer</th><th>Description</th><th>Vault</th><th>Deposit</th><th>Cassiere</th><th>Tipo</th><th>Totale</th>
        {% for cash in cashes %}     
        <tr>
            <td>{% with p = cash['payment'] %} {{ p.id }} </td>
                <td>{% for r in p['receipt'] %} {{ r.date_issue }} </td>
                <td><b>{{p.customer_id}}</td>
                <td>{{r.description}}{% endfor %}</td>     
                <td>{% for c in p['cash'] %} {{c.vault}}</td>
                <td>{{c.deposit}} {% endfor %}</td>
                <td>{{ p.user_id}}</td>
                <td>{{ p.type_card }}</td>
                <td>{{ (p.total)|round(2) }} {% endwith %}</td>

        </tr>
    {% endfor %} 
    </table>
</div>

<div>
    <form method="post">
        <input type="hidden" id="username" name="username" value={{user}}>
        <input type="hidden" id="payments"  name="payments" value={{payments}} > <br>
        <br><br>    
        <button type="submit">Effettua Versamento</button>
    </form>
</div>

<script >
    function sessionvalidator(){
        {% if session.get('user_type')=='' -%}
            location.replace("/")
        {% endif %}
    }
</script>

{% endblock %}