{% extends 'base.html' %}

{% block content %}

<div class='payment'>
       <h1>Pagamenti Studente</h1>
        <table class='list-tab'>
              <tr><th>ID Customer</th><th>Tipo</th><th>Id Receipt</th><th>Description</th><th>Vault</th><th>Deposit</th><th>Cassiere</th><th>Totale</th>
        {% for payment in payments %}     
            <tr>
                <td><b>{{ payment['customer_id'] }}</td><td>{{ payment['type_card'] }}</td>
                    <td>{% for r in payment['receipt'] %} {{r.id}} </td><td>{{r.description}} {% endfor %}</td>
                    <td>{% for c in payment['cash'] %} {{c.vault}} </td><td>{{c.deposit}} {% endfor %} </td>
                    <td> insierire username</td>
                    <td>{{ payment['total'] }}</td>                               
            </tr>
        {% endfor %} 
        </table>
</div>

<script >
    function sessionvalidator(){
        {% if session.get('user_type')=='' -%}
            location.replace("/")
        {% endif %}
    }
</script>

{% endblock %}