{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Seleziona le banconote {% endblock %}</h1>
<div class=cust-details>{{customer.id}}</div><div class=cust-details>{{customer.name}}</div>
<div>{{ payment.id }}</div><div>{{ receipt.description }}</div>
<br><br><br>  
<div>
    <form method="post">
        <input type="hidden" id="customer_id" name="customer_id" value={{customer.id}}>
        <label for="cash001">1 euro</label><br>
        <input type="number" name='cash001' id='cash001' min=0>
        <label for="cash002">2 euro</label><br>
        <input type="number" name='cash002' id='cash002'min=0>
        <label for="cash005">5 euro</label><br>
        <input type="number" name='cash005' id='cash005'min=0>
        <label for="cash010">10 euro</label><br>
        <input type="number" name='cash010' id='cash010'min=0>
        <label for="cash020">20 euro</label><br>
        <input type="number" name='cash020' id='cash020' min=0>
        <label for="cash050">50 euro</label><br>
        <input type="number" name='cash050' id='cash050' min=0>
        <label for="cash100">100 euro</label><br>
        <input type="number" name="cash100" id='cash100' min=0>
        <label for="cash200">200 euro</label><br>
        <input type="number" name="cash200" id='cash200'min=0>
        <br><br>    
        <button type="submit">Incassa</button>
    </form>
</div>
<br><br>
<div>
    
</div>

{% endblock %}