{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Aggiungi Pagamento {% endblock %}</h1>
<div class=cust-details>{{customer.id}}</div><div class=cust-details>{{customer.name}}</div>
<br><br><br>  
<div>
    <form method="post">
        <select name="metodo di pagamento" id="payment-method">
            <option value="Contante">Contante</option>
            <option value="Bancomat">Bancomat</option>
            <option value="Visa">Visa</option>
        </select>
        <br><br><br>    
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}