{% extends 'base_login.html' %}

{% block content %}

<h1 align="center">{% block title %} Nuovo Utente {% endblock %}</h1>

<div class='login-form' align="center">
    <form method="post">
        <input type="text" name="name"
               placeholder="Nome"
               value="{{ request.form['name'] }}"></input>
        <br><br>
        <input type="text" name="surname"
               placeholder="Cognome"
               value="{{ request.form['surname'] }}"></input>
        <br><br>
        <input type="text" name="username"
               placeholder="username"
               value="{{ request.form['username'] }}"></input>
        <br><br>
        <input type="password" name="password"
               placeholder="password"
               value="{{ request.form['password'] }}"></input>
        <br><br>
        <input type="password" name="repeatpassword"
               placeholder="ripeti la password"
               value="{{ request.form['repeatpassword'] }}"></input>
        <br><br><br>    
        <button type="submit">Aggiungi</button>
    </form>
</div>

{% endblock %}